<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <!-- Factory 不能修改 id -->
    <bean id="elasticSearchFactory" class="com.linkedkeeper.elasticsearch.client.ElasticSearchFactory" init-method="init">
        <property name="clusterName" value="test"/>
        <property name="nodeInfo">
            <map>
                <entry key="172.0.0.0" value="40100"/>
            </map>
        </property>
    </bean>
    <bean id="testEsClient" class="com.linkedkeeper.elasticsearch.client.TestClient">
        <property name="esFactory" ref="elasticSearchFactory"/>
    </bean>


</beans>

